body {
    margin: 0;
    padding-left: 2em;
    padding-right: 2em;
    background-color: #f0f4ff;
    font-family: sans-serif;
}

div.section{
    margin-bottom: 1.2rem 0;
    margin-left: 2em;
    margin-right: 2em;
}

a {
    color: #173360;
    background-color: inherit;
    font-weight: bold;
    text-decoration: none;
}

.header_text {
    color: #173360;
    background-color: inherit;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 a, h1 a:hover
{
    color: black;
    text-decoration: none;
}

h2 a, h2 a:hover a, h3 a, h3 a:hover
{
    color: #888888;
    text-decoration: none;
}

h1 {
    clear: right;
    color: black;
    text-shadow: 0.05em 0.05em 0.1em #aaaaee;
    font-size: 1.8em;
    font-weight: bold;
    padding-bottom: 0.1em;
    margin-bottom: 1em;
}

h2 {
    clear: right;
    color: black;
    text-shadow: 0.05em 0.05em 0.1em #aaaaee;
    font-size: 1.4em;
    font-weight: bold;
    border-bottom: 1px solid #aaaaee;
    padding-bottom: 0.1em;
    margin-bottom: 1em;
}

table {
    border: 1px solid #8888ff;
    border-collapse: collapse;
    padding-left: 1.75em;
    padding-right: 1.75em;
    min-width: 100%;
    table-layout: fixed;
}

table.sideways {
    border: 1px solid #8888ff;
    border-collapse: collapse;
    padding-left: 1.75em;
    padding-right: 1.75em;
    table-layout: fixed;
    min-width: 0;
    table-layout: fixed;
}

col {
    border: 1px solid #8888ff;
}

col:not(:first-child) {
    white-space:nowrap;
}

th {
    text-align: right;
    background-color: #b1c1eb;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
}

td {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
}

.jobtable_row_builddate {
    width: 25%;
}

.jobtable_row_jobname {
    text-align: left;
    width: 10%;
}

.jobtable_row_count {
    width: 5%;
}

.buildtable_row_builddate {
    text-align: left;
    width: 10%;
}

.buildtable_row_text {
    text-align: left;
}

.failtable_row_test {
    width: 25%;
}

.failtable_row_other {
    width: 3%;
}

.buildtable_row_name {
    width: 30%;
}

.buildtable_row_date {
    width: 20%;
}

.subgrouptable_row_name {
    width: 40%;
}

.subgrouptable_row_other {
    width: 10%;
}

.subgrouptable_row_time {
    width: 15%;
}

tr > td:first-child, tr > th:first-child {
    text-align: left;
}

td {
    text-align: right;
    word-wrap: break-word;
}

tr:nth-child(odd)  > td { background-color: #c5cfeb }
tr:nth-child(even) > td { background-color: #d5e1ff }

tr:nth-child(odd)  td.pass  { background-color: #6ee16e; }
tr:nth-child(even) td.pass  { background-color: #7dff7d; }

tr:nth-child(odd)  td.skip  { background-color: #e1e1e1; }
tr:nth-child(even) td.skip  { background-color: #f1f1f1; }
tr:nth-child(odd)  td.notrun  { background-color: #e1e1e1; }
tr:nth-child(even) td.notrun  { background-color: #f1f1f1; }

tr:nth-child(odd)  td.fail, tr:nth-child(odd)  td.failure  { background-color: #e37070; }
tr:nth-child(even) td.fail, tr:nth-child(even) td.failure  { background-color: #ff7e7e; }
tr:nth-child(odd)  td.abort, tr:nth-child(odd)  td.aborted { background-color: #e37070; }
tr:nth-child(even) td.abort, tr:nth-child(even) td.aborted  { background-color: #ff7e7e; }
tr:nth-child(odd)  td.unstable { background-color: #ffac59; }
tr:nth-child(even) td.unstable { background-color: #ffbe7c; }
tr:nth-child(odd)  td.dmesg-fail  { background-color: #ff2020; }
tr:nth-child(even) td.dmesg-fail  { background-color: #e00505; }

tr:nth-child(odd)  td.timeout  { background-color: #83bdf6; }
tr:nth-child(even) td.timeout  { background-color: #4a9ef2; }

tr:nth-child(odd)  td.crash { background-color: #111111; color: #ffffff; }
tr:nth-child(even) td.crash { background-color: #000000; color: #ffffff; }

tr:nth-child(odd)  td.changed { background-color: #e1e1e1; }
tr:nth-child(even) td.changed { background-color: #f1f1f1; }

tr:hover {
    text-decoration: underline;
}

#header {
    position: fixed;
    background-color: #f0f4ff;
    top: 0px;
    width: 97%;
    border-bottom: 1px solid #aaaaee;
    z-index: 1;
    white-space: nowrap;
}

#content{
    margin-top: 9em;
}

:target {
   display: block;
   position: relative;
   top: -8em;
   visibility: hidden;
}

#navbox {
    margin-top: -1em;
    margin-bottom: 2.0em;
    font-weight: bold;
}

#navbox a {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

#navbox span:after {
    padding-left: 1em;
    padding-right: 0.5em;
    content: "\00bb";
}

#navbox span:last-child:after {
    content: "";
}

#not_imported_banner {
    margin-top: .5em;
    margin-bottom: .5em;
    font-weight: bold;
    background-color: #ff7e7e;
    text-align: center;
    font-size: 2em;
}

#buildactionsbox {
   font-weight: bold;
}

#contentsbox {
    margin-top: -2em;
    font-size: .8em;
}

#contentsbox span:after {
    padding-left: .5em;
    padding-right: 0.25em;
    content: "\2022";
}

#contentsbox span:last-child:after{
    content: "";
}

#circle {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    display:inline-block;
}

#circle.failure{
    background-color: #ff7e7e;
}

#circle.aborted{
    background-color: #ff7e7e;
}

#circle.success{
    background-color: #6ee16e;
}

#circle.unstable{
    background-color: #ffac59;
}

pre{
    white-space: pre-wrap;
}

/*input[type='checkbox'] {
    display: none;
}
*/

.section-label, .section-label-expanded{
    display: block;
    clear: right;
    color: black;
    text-shadow: 0.05em 0.05em 0.1em #aaaaee;
    font-size: 1.4em;
    font-weight: bold;
    text-align: left;
    padding: 1rem;
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.25s ease-out;
}

.section-label:hover, .section-label-expanded:hover{
    text-decoration: none;
    color: #888888;
}

.section-label::before, .section-label-expanded::before{
    content: ' ';
    display: inline-block;

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);

    transition: transform .2s ease-out;
}

.section-label-expanded::before {
    transform: rotate(90deg) translateX(-3px);
}

.sort-section-desc::before{
    content: ' ';
    display: inline-block;
    vertical-align: bottom;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #173360;
    margin-right: .7rem;
    transform: rotate(90deg) translateX(-3px);
}

.sort-section-asc::before {
    content: ' ';
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #173360;
    vertical-align: top;
    margin-right: .7rem;
    transform: rotate(-90deg) translateX(-3px);
}

.collapsible-content .content-inner {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
}

.link_button {
    display: inline-block;
    border-radius: 4px;
    border-top: solid 1px #cccccc;
    border-left: solid 1px #cccccc;
    border-right: solid 1px #333333;
    border-bottom: solid 1px #333333;
    background: #b1c1eb;
    padding: 2px 4px;
    margin: 2px 2px 2px 2px;
    text-decoration: underline;
    font-weight: bold;
    color: #173360;
    cursor: pointer;
}

.demo-container {
    box-sizing: border-box;
    padding: 20px 15px 15px 15px;
    margin: 15px auto 30px auto;
    border: 1px solid #ddd;
    background: #fff;
    background: linear-gradient(#f6f6f6 0, #fff 50px);
    background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
    -o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    min-width: 600px;
}

.demo-placeholder {
    min-height: 500px;
    flex-grow: 1;
    font-size: 14px;
    line-height: 1em;
    float: left;
    /* margin gives space for annotations */
    margin-right: 50px;
}

.cmp-results-placeholder {
    min-height: 100px;
    min-width: 100px;
    font-size: 14px;
    line-height: 1em;
    float: left;
    margin-right: 20px;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;

}

vim: set sw=4 et:
