{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block body %}
  <div id="header">
    <h1>CI Builds {{ job }}:</h1>
    <div id="navbox">
      {% for link in top_links %}
      <span><a href="{{ link["href"] }}">{{ link["text"] }}</a></span>
      {% endfor %}
    </div>
  </div>

  <div id="content">
    <div data-collapse>
      <a class="link_button" href="{{ url_for('history_page', job_name=job) }}">View history for branch</a></td>
      <div class="section">
      </div>
    </div>

    <div data-collapse>
      <h3>Select a build to compare to Mesa master branch history</h3>
      <div class="section">
        <table style="width:100%">
          <colgroup>
            <col/>
            <col/>
            <col/>
            <col/>
            <col/>
            <col/>
            {% if su %}
            <col/>
            {% endif %}
          </colgroup>
          <tr>
            {% set sort_col = sort_prefs['builds'].split(':') %}
            <th
              {% if sort_col[0] == 'name' %}
              class="buildtable_row_jobname sort-section-{{ sort_col[1] }}"
              {% else %}
              class="buildtable_row_jobname"
              {% endif %}
              ><a href="{{ url_for('builds_page', job_name=job) + '?sort_col=name&sort_section=builds' }}">Build</a>
            </th>
            <th
              {% if sort_col[0] == 'build_date' %}
              class="jobtable_row_builddate sort-section-{{ sort_col[1] }}"
              {% else %}
              class="buildtable_row_builddate"
              {% endif %}
              ><a href="{{ url_for('builds_page', job_name=job) + '?sort_col=build_date&sort_section=builds' }}">Build Date</a>
            </th>
            <th class="buildtable_row_text">Mesa Commit</th>
            <th
              {% if sort_col[0] == 'mesa_date' %}
              class="jobtable_row_builddate sort-section-{{ sort_col[1] }}"
              {% else %}
              class="buildtable_row_builddate"
              {% endif %}
              ><a href="{{ url_for('builds_page', job_name=job) + '?sort_col=mesa_date&sort_section=builds' }}">Commit Date</a>
            </th>
            <th class="buildtable_row_text">Commit Author</th>
            <th class="buildtable_row_text">Commit Description</th>
            {% if su %}
            <th>Delete build</th>
            {% endif %}
          </tr>
          {% if builds %}
          {% for build in builds %}
          <tr>
            <td><a href="{{ url_for('history_page', job_name='mesa_master') }}?job_id={{ job_id }}&build_id={{ build['id'] }}">{{ build['name'] }}</a></td>
            <td>{{ build['build_date'] }}</td>
            <td>{{ build['mesa_sha'] }}</td>
            <td>{{ build['mesa_date'] }}</td>
            <td>{{ build['mesa_author'] }}</td>
            <td>{{ build['mesa_desc'] }}</td>
            {% if su %}
            <td><a href="{{ url_for('builds_page', job_name=job) }}?delete={{ build['id'] }}">delete</a></td>
            {% endif %}
          </tr>
          {% endfor %}
          {% endif %}
        </table>
      </div>
    </div>

  {% endblock %}
