{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block body %}
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/jquery/jquery.js')}}"></script>
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/jquery/jquery.event.drag.js')}}"></script>
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/jquery/jquery.mousewheel.js')}}"></script>
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/jquery/jquery.canvaswrapper.js')}}"></script>
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/jquery/jquery.colorhelpers.js')}}"></script>
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/jquery/jquery.flot.js')}}"></script>
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/jquery/jquery.flot.saturated.js')}}"></script>
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/jquery/jquery.flot.browser.js')}}"></script>-->
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/jquery/jquery.flot.drawSeries.js')}}"></script>
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/jquery/jquery.flot.uiConstants.js')}}"></script>
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/jquery/jquery.flot.symbol.js')}}"></script>
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/jquery/jquery.flot.time.js')}}"></script>
  <!--<script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/jquery/jquery.flot.errorbars.js')}}"></script>-->
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/jquery/jquery.flot.legend.js')}}"></script>
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/jquery/jquery.flot.navigate.js')}}"></script>
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/jquery/jquery.flot.touchNavigate.js')}}"></script>
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/jquery/jquery.flot.hover.js')}}"></script>
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/jquery/jquery.flot.touch.js')}}"></script>
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/jquery/jquery.flot.selection.js')}}"></script>
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/jquery/jquery.flot.fillbetween.js')}}"></script>
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/jquery/jquery.flot.axislabels.js')}}"></script>
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/plotter.js')}}"></script>
  <div id="header">
    <h1>Benchmark results for {% if compare_build_name %}{{compare_job_name + ':' + compare_build_name}} compared to {% endif %}{{ job }}:</h1>
    <div id="navbox">
      {% for link in top_links %}
      <span><a href="{{ link["href"] }}">{{ link["text"] }}</a></span>
      {% endfor %}
    </div>
    <div id="contentsbox">
      {% if compare_build %}
      <span><a href="#sig_deltas">Significant Performance Deltas</a></span>
      {% endif %}
      <span><a href="#all_benchmarks">All Benchmarks</a></span>
    </div>
  </div>

  <div id="content">
    {% if compare_build %}
    <a id="sig_deltas"></a>
    <div id="comparebuildsbox">
      <h4>Select new mesa_master build to compare to: </h4>
      <select id="compare_build_selector">
        {% for build in base_builds %}
        <option
          value={{ build.build_id }}
          {% if build.build_id == base_build_id %}selected{% endif %}
          >{{ job + '@' + build.build_id }}</option>
        {% endfor %}
      </select>
      <a id="compare_build_button" class="link_button" href="{{ url_for('history_page', job_name='mesa_master') }}?job_id={{ compare_job_id }}&build_id={{ compare_build_id }}">Compare</a>
    </div>
    <h3>Significant Performance Deltas</h3>
    {% for bm_name, bm_vals in cmp_summary.items() %}
    <div class="section">
      <h4><a href="#{{bm_name}}">{{bm_name}}</a></h4>
      <table style="width:100%">
        <colgroup>
          <col/>
          <col/>
          <col/>
          <col/>
        </colgroup>
        <tr>
          <th>Platform</th>
          <th>FPS of {{ job }} @{{bm_vals[0]['orig_sha']}}</th>
          <th>FPS of {{compare_job_name + ':' + compare_build_name}}</th>
          <th>FPS Delta</th>
        </tr>
        {% for result in bm_vals %}
        <tr>
          <td>{{result['hardware']}}</td>
          <td>{{result['orig_fps']|string + ' ±' + result['orig_std']|string + '%'}}</td>
          <td>{{result['cmp_fps']|string + ' ±' + result['cmp_std']|string + '%'}}</td>
          <td class={{ 'unstable' if result['delta'] <= 0 else 'pass' }}>{{result['delta']|string + '%' + ' ±' + result['pooled_std']|string + '%'}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    {% endfor %}
    {% if not cmp_summary %}
    <span>None</span>
    {% endif %}
    {% endif %}
    <h3>All Benchmarks</h3>
    <div class="section">
      <a id="all_benchmarks"></a>
      <div class="section">
        <ul style="display: flex; flex-wrap: wrap;">
          {% for benchmark in benchmark_dicts %}
          {% if not compare_build or benchmark.name in compare_build %}
          <li style="margin-right: 1em; min-width: 30em">
            <span><a href="#{{benchmark.name}}">{{benchmark.name}}</a></span>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="section">
      {% for benchmark in benchmark_dicts %}
      {% if not compare_build or benchmark.name in compare_build %}
      <a id="{{benchmark.name}}"></a>
      <a href="#all_benchmarks">↑ Back to top</a>
      <div class="demo-container">
        <h2>{{benchmark.name}}</h2>
        <div class="flex-container">
          <div id="{{benchmark.name|replace_for_js}}_plot" class="demo-placeholder"></div>
          <div class="flex-container" style="flex-direction: column">
            <p id="{{benchmark.name|replace_for_js}}_plot_hw_choices"></p>
            <p id="{{ 'click_' + benchmark.name|replace_for_js }}" ></p>
          </div>
        </div>
        {% if compare_build %}
        <div><h3>Results for {{compare_job_name + ':' + compare_build_name}}</h3></div>
        <div id="{{benchmark.name|replace_for_js}}_plot_cmp_results" class=="demo-container"></div>
        {% endif %}
      </div>
      {% endif %}
    {% endfor %}
    </div>
    <div id="dialog" title="Build Started"></div>

  </div>
  <script>
    {% for benchmark in benchmark_dicts %}
      {% if not compare_build or benchmark.name in compare_build %}
        do_plot("{{ '#' + benchmark.name|replace_for_js + '_plot'}}", "{{ '#click_' + benchmark.name|replace_for_js}}",
          { {% for hw in benchmark.hardware %} {{hw}}: {{benchmark.hardware[hw]|tojson}}, {% endfor %} },
          {% if compare_build %}{{compare_build[benchmark.name]|tojson}}, "{{compare_job_name + ':' + compare_build_name}}", new Date({{base_build_date}}), "mesa_master @ {{base_build_sha}}"{% endif %}
      )
      {% endif %}
    {% endfor %}

    {% if compare_build %}
    $("#compare_build_selector").on("change", function(){
      val = $(this).val();
      $("#compare_build_button").attr("href", "{{ url_for('history_page', job_name='mesa_master') }}?job_id={{ compare_job_id }}&build_id={{ compare_build_id }}" + "&base_build_id=" + val);
    });
    {% endif %}

    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    }


  </script>


  {% endblock %}


